@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff6900;
  --color-secondary: teal;
}
.my-th{
  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase
}
.swal2-confirm {
  background-color: #ff6900 !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.rannafy-btn {
  @apply bg-[#ff6900] hover:bg-orange-600 mt-3 text-white py-2.5 px-3.5 rounded-sm transition-colors duration-200 cursor-pointer
}

.rannafy-delete-btn {
  @apply bg-red-500 hover:bg-red-600 mt-3 text-white py-2.5 px-3.5 rounded-sm transition-colors duration-200 cursor-pointer
}

.rannafy-select-tab {
  @apply bg-[#ff6900] mt-3 text-white py-2.5 px-3.5 hover:bg-orange-600 transition-colors cursor-pointer outline-0
}

.rannafy-delete {
  @apply  flex items-center gap-1 bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-md transition duration-200 cursor-pointer
}
.rannafy-success{
@apply flex items-center gap-1 bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md transition duration-200 cursor-pointer
}
.rannafy-status-success {
  @apply px-2 py-1 bg-green-100 text-green-700 rounded text-xs
}

.rannafy-status {
  @apply px-2 py-1 bg-red-100 text-red-700 rounded text-xs
}
.rannafy-pending{
  @apply px-2 py-1 bg-orange-100 text-orange-700 rounded text-xs
}